body {
  background-color: #595959;
  color: #000000;
}


.form-group{
  width: 75%;
}

.form-control {
  font-size: 1.2em;
}
/* Our Containers */

.myContainer{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #d3d3d3;
  border-radius: 40px;
  font-family: 'Cabin', sans-serif;
}
/* our title */

.title {
  margin: 50px 20px 20px 20px;
  padding-top: 10px;
}

.article {
  border-style: double;
  border-width: 3px;
  border-color: #ffffff;
}

.articleTitle{
  background-color: #b0b0b0;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 25px;
}

.articleExtract {
  padding-left: 50px;
  font-size: 1em;
}

.smallTitle{
  font-size: .5em;
}

/* styling our links to look the same */

a:link,
a:hover,
a:active,
a:visited {
  color: #000000;
}


/* our input box */

.searchInput {
  margin: 5px 20px 5px 20px;
}


/* to house our buttons */

.buttonContainer {
  margin: 5px 20px 5px 20px;
}

.btn {
  font-size: 1.3em;
}

.searchResults {
  margin: 15px 20px 5px 20px;
}

/* for our footer */

.footer {
  margin: 20px 20px 20px 20px;
  font-size: 1.05em;
  padding-bottom: 10px;
}
